doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="./assets/css/vendors.min.css")
        link(rel="stylesheet", href="./assets/css/app.css")
    body 
        // Slider main container
        .swiper
            // Additional required wrapper
            .swiper-wrapper
                // Slides
                .swiper-slide
                    img(src="./assets/imgs/cat-1.jpg", alt="cat")
                .swiper-slide
                    img(src="./assets/imgs/cat-2.jpg", alt="cat")
                .swiper-slide
                    img(src="./assets/imgs/cat-3.jpg", alt="cat")
                .swiper-slide
                    img(src="./assets/imgs/cat-3.jpg", alt="cat")
            // If we need pagination
            .swiper-pagination
            // If we need navigation buttons
            .swiper-button-prev
            .swiper-button-next
            // If we need scrollbar
            .swiper-scrollbar

        script(src="./assets/js/vendors.min.js")
        script(src="./assets/js/app.js")